<div class="container">
    <div class="col-md-9 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Nouveau monument</div>
            <div class="panel-body">
                <form #f="ngForm" (ngSubmit)="onSaveMonument(f.value)">

                    <div class="form-group">
                        <input class="form-control" type="text" name="nom" ngModel placeholder="nom du monument">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="proprietaire" ngModel placeholder="proprietaire">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="typeMonument" ngModel
                            placeholder="Type de monument">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="double" name="longitude" ngModel placeholder="longitude">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="double" name="latitude" ngModel placeholder="latitude">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Lieu</label>
                        <input class="form-control" type="text" name="codeInsee" ngModel placeholder="code Insee">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="nomCom" ngModel placeholder="nom de la commune">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="longitude" ngModel placeholder="longitude">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="latitude" ngModel placeholder="latitude">
                    </div>
                    <button class="btn btn-success" type="submit">Save</button>

                </form>

            </div>
        </div>
    </div>
</div>